$themeColor: #71C182;

body{
  background-color: $themeColor;
}

%text{
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.appTitle{
  @extend %text;
  font-size: 64px;
  margin-top: 10vh;
}
.appSubtitle{
  @extend %text;
  font-size: 22px;
  margin-bottom: 15vh;
}

%input{
    width: 100%;
    padding: 8px 12px;
    margin: 10px 0;
}

.inputEmail{
  @extend %input;
}

.inputPassword{
  @extend %input;
}

.createAccount{
  @extend %text;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.login{
  @extend %text;
  font-size: 36px;
  width: 100%;
  background-color: #fff;
  color: $themeColor;
  text-align: center;
  padding: 10px;
  margin-top: 10vh;
}
